In [14]:
import pandas as pd
import numpy as np

data = {'state':['Ohio','New York', 'Nevada', 'California'], 'year': [2000, 2001, 2002, 2003], 
        'rain': [1.5, 1.7, 3.6, 2.5]}
frame = pd.DataFrame(data, columns = ['year', 'state', 'rain'])

In [15]:
frame.year

0    2000
1    2001
2    2002
3    2003
Name: year, dtype: int64

In [16]:
#Data in row 3
frame.ix[3]

year           2003
state    California
rain            2.5
Name: 3, dtype: object

In [17]:
#Add a column pop and populate it with zeroes
frame['pop'] = 0

In [35]:
debt = np.arange(4)

In [36]:
frame['debt'] = debt

In [37]:
frame.T

          0         1       2           3
year   2000      2001    2002        2003
state  Ohio  New York  Nevada  California
rain    1.5       1.7     3.6         2.5
pop       0         0       0           0
debt      0         1       2           3

In [43]:
frame['state'][2:4]

2        Nevada
3    California
Name: state, dtype: object

In [45]:
frame.values

array([[2000, 'Ohio', 1.5, 0, 0],
       [2001, 'New York', 1.7, 0, 1],
       [2002, 'Nevada', 3.6, 0, 2],
       [2003, 'California', 2.5, 0, 3]], dtype=object)

In [49]:
'Ohio' in frame.values

True

In [50]:
frame.state

0          Ohio
1      New York
2        Nevada
3    California
Name: state, dtype: object